body {
  background: url(../images/bg-sanfrancisco.jpg);
  background-repeat: no-repeat;
  /* background-position: -100px 100px; */
  background-size: cover;
  background-attachment: fixed;
  height: 300vh;
}

.meal {
  width: 100vw;
}
