<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/Layout/styles.css" />
  </head>
  <body>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum, dolores.
    </p>
    <span class="box"></span>
    <span class="box"></span>

    <div class="box1">
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Omnis,
        praesentium? Possimus, itaque laborum? Voluptatum consectetur ipsa,
        commodi atque suscipit modi.
      </p>
    </div>

    <div class="box2">
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consectetur
        recusandae quibusdam in sunt cumque nobis laudantium tempore adipisci
        earum similique.
      </p>
    </div>
  </body>
</html>
