<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/Layout/styles_mediaqueries.css" />
  </head>
  <body>
    <div class="container">
      <div class="box">
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsa
          reprehenderit neque eveniet sunt, exercitationem molestias dolore
          doloribus accusamus alias facere possimus, labore quo. Pariatur illo
          quos laboriosam, necessitatibus adipisci sint!
        </p>
      </div>
      <div class="box">
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellat
          doloribus nobis quibusdam cum, expedita eius, quidem corporis quae aut
          ipsam placeat mollitia obcaecati porro fuga aperiam libero optio sint
          odio!
        </p>
      </div>
    </div>
  </body>
</html>
