body {
  margin: 10px;
  height: 200vh;
}

.boxes {
  border: 3px solid lightgray;
  position: relative;
}

.box {
  width: 5rem;
  height: 5rem;
}

.box-one {
  background-color: gold;
}

.box-two {
  background-color: tomato;
  position: fixed;
  top: 0;
  left: 2rem;
  right: 2rem;
  bottom: 0;
  width: auto;
  z-index: 9999;
}
.box-three {
  background-color: dodgerblue;
}
