body {
  margin: 10px;
}

.container {
  border: 3px solid lightgrey;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* flex-wrap: wrap; */
  align-content: center;
  height: 90vh;
}
.box {
  flex-basis: 5rem;
  flex-grow: 1;
  flex-shrink: 1;
  width: 5rem;
  height: 5rem;
  background: gold;
  margin: 1rem;
}

.box-one {
  align-self: flex-end;
  flex-grow: 2;
  flex-basis: 10rem; /*sizing */
}
