body {
  margin: 10px;
}

.container {
  display: grid;
  /* 3 x 2*/
  /* => grid-template-rows: 100px 100px 100px;*/

  /*grid-template: repeat(3, 100px) / repeat(2, 100px);*/
  grid-template: 100px auto 100px / 30fr 70fr;
  grid-template-areas:
    "header header"
    "sidebar main"
    ".       footer";
  border: 3px solid lightgrey;
  gap: 10px;
  /*justify-content: center;*/
  /*align-content: center;*/
  height: 100vh;
}

.box {
  background: gold;
}

.box-one {
  /* grid-column: 1 / span 2;
  /*start/end */
  /*grid-area: 1 / 1 / 1 / 3; */
  grid-area: header;
}

.box-four {
  grid-area: footer;
}
