<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Navigation Bar</title>
    <link rel="stylesheet" href="/Layout/Exercises/NaviBar/normalize.css" />
    <link rel="stylesheet" href="/Layout/Exercises/NaviBar/styles.css" />
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="#About">About</a></li>
        <li><a href="#Course">Courses</a></li>
        <li><a href="#Forum">Forum</a></li>
        <li><a href="#Learning">Learning Paths</a></li>
        <li><a href="#Contact">Contact</a></li>
      </ul>
    </nav>
  </body>
</html>
