<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PhotoGallery</title>
    <link
      rel="stylesheet"
      href="/Layout/Exercises/PhotoGallery/normalize.css"
    />
    <link rel="stylesheet" href="/Layout/Exercises/PhotoGallery/styles.css" />
  </head>
  <body>
    <div class="Gallery">
      <img
        src="https://source.unsplash.com/collection/190727/800x600?1"
        alt="A"
      />
      <img
        src="https://source.unsplash.com/collection/190727/800x600?2"
        alt="B"
      />
      <img
        src="https://source.unsplash.com/collection/190727/800x600?3"
        alt="C"
      />
      <img
        src="https://source.unsplash.com/collection/190727/800x600?4"
        alt="D"
      />
      <img
        src="https://source.unsplash.com/collection/190727/800x600?5"
        alt="E"
      />
      <img
        src="https://source.unsplash.com/collection/190727/800x600?6"
        alt="F"
      />
      <img
        src="https://source.unsplash.com/collection/190727/800x600?7"
        alt="G"
      />
      <img
        src="https://source.unsplash.com/collection/190727/800x600?8"
        alt="H"
      />
      <img
        src="https://source.unsplash.com/collection/190727/800x600?9"
        alt="I"
      />
    </div>
  </body>
</html>
