.Gallery {
  display: grid;
  grid-gap: 10px;
}

.Gallery img {
  object-fit: cover; /*to get the image fits the cell*/
  width: 100%;
  border-radius: 5px;
}

/*For tablets*/

@media screen and (min-width: 768px) {
  .Gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  .Gallery {
    grid-template-columns: repeat(3, 1fr);
  }
  .Gallery img:nth-of-type(3) {
    grid-column: 2 / 4; /*will start on column-line 2, and end on column-line 4*/
    grid-row: 1 / 3;
  }
}
